$accentColor:#886239;
$primaryColor: #FFF;
$secondaryColor: #1F1E1E;

%roboto-regular {
 font-family: 'Roboto', sans-serif;
 font-weight: 400;
}

%roboto-rmedium {
 font-family: 'Roboto', sans-serif;
 font-weight: 500;
}

%roboto-bold {
 font-family: 'Roboto', sans-serif;
 font-weight: 700;
}

%pt-serif-bold {
 font-family: 'PT Serif', serif;
 font-weight: 700;
}